.flx {
  display: flex;
  justify-content: space-between;
}
.text {
  color: grey;
}
.links {
  display: flex;
  justify-content: end;
}
.nav-btn {
  color: black;
  background-color: transparent;
  font-size: 40px;
  border: none;
}
.floatRight{
    float:right;
    
}
